<!--
  // TODO: criar o layout como no diagrama
  // TODO: adicionar o link de navegação à sidebar
  // TODO: exibir a resposta da data-hora consultada na api
  // TODO: adicionar um input e um botão à página
  // TODO: criar um método POST no api.service que envie o texto do input e exiba a resposta na página
-->

<h1>Título da página</h1>

{{ apiGreeting }}



<!DOCTYPE html>
<head>
    <meta charset="UTF-8" lang="pt-br"/>
    <title> Título da Página </title>
<style> 
body{
    background-color: #7950f2;
    background-size: 100%;
    background-repeat: no-repeat;
}</style>
</head>
<body>
 <h1 > <center> Título da página  </center></h1>
    </body>
    <head> 
</html>